* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Inter", Arial, sans-serif;
	background-color: #202121;
	padding: 20px;
	height: 100vh;
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 800px;
	padding: 2rem;
}

header {
	text-align: center;
	background-color: #6a36a9;
	border-radius: 14px;
	width: 100%;
	max-width: 400px;
	padding: 1rem;
	margin-bottom: 2rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header > h1 {
	font-size: 4rem;
	font-weight: 400;
	color: white;
	margin: 0;
}

section.task-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 32px;
	margin-bottom: 40px;
}

section.task-header > h2 {
	color: white;
	font-weight: 300;
	font-size: 1.5rem;
	margin: 0;
}

section.task-container {
	display: grid;
	grid-template-columns: minmax(400px, 500px) minmax(400px, 500px);
	justify-content: center;
	align-items: center;
	gap: 1rem;
	column-gap: 200px;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

@media screen and (max-width: 1000px) {
	section.task-container {
		grid-template-columns: 500px;
	}
}

section.task-container > .task-element {
	width: 100%;
	height: 64px;
	background-color: #1a1a1a;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	text-align: left;
	color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

section.task-container > .task-element > .task-text {
	margin: 0;
	flex-grow: 1;
	color: white;
	font-size: 0.95rem;
	font-weight: 300;
}

section.task-container > .task-element > .icons {
	display: flex;
	gap: 1rem;
	align-items: center;
}

section.task-container > .task-element > .icons button {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	width: 36px;
	height: 36px;
	opacity: 0.8;
	transition: opacity 0.2s;
}

.icon{
	width: 100%;
	height: 100%;
}